<div>
  <dx-chart
    id="chart"
    [dataSource]="chartData"
    type="bar"
    palette="Harmony Light"
  >
    <dxo-argument-axis>
      <dxo-title text="Sold pieces"></dxo-title>
      <dxo-label>
        <dxo-format type="string"></dxo-format>
      </dxo-label>
    </dxo-argument-axis>

    <dxo-value-axis>
      <dxo-title text="Number of orders"></dxo-title>
      <dxo-label>
        <dxo-format type="fixedPoint"></dxo-format>
      </dxo-label>
    </dxo-value-axis>

    <dxi-series
      argumentField="range"
      valueField="ordersCount"
      name="Number of orders"
      type="bar"
      color="#FFA726"
    >
    </dxi-series>

    <dxo-tooltip
      [enabled]="true"
      [contentTemplate]="customTooltip"
      [zIndex]="999"
    ></dxo-tooltip>

    <dxo-legend [visible]="true" position="outside"></dxo-legend>
  </dx-chart>
</div>
