.reject-reason {
  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    border: none;
    background-color: inherit;
    width: 100%;
    height: 100%;
    color: inherit;
    &:focus {
      border: none;
      outline: none;
    }
  }

  &__icon-container {
    &__edit-icon {
      margin-left: 10px;
    }
  }
}

.template-container {
  text-align: center;
}

::ng-deep #gridContainer .myClass {
  vertical-align: middle !important;
}
