<div class="flex-container">
  <div class="table-container">
    <dx-data-grid
      [dataSource]="dataSource"
      [allowColumnResizing]="true"
      [columnAutoWidth]="true"
      [width]="'100%'"
      [height]="'800px'"
      keyExpr="customerId"
      [showColumnLines]="true"
      [showRowLines]="true"
      [showBorders]="true"
      id="gridContainer"
      [scrolling]="{ mode: 'virtual', columnRenderingMode: 'virtual' }"
    >
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-paging [enabled]="true"></dxo-paging>
      <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>

      <dxi-column
        dataField="brand"
        caption="Brand"
        cellTemplate="brandTemplate"
        [cssClass]="'myClass'"
        [allowEditing]="false"
        [fixed]="true"
        [fixedPosition]="'left'"
        [allowFiltering]="true"
        headerFilter="{
      dataSource: brandDataSource
    }"
      >
        <dxo-header-filter [dataSource]="brandHeaderFilter"></dxo-header-filter>
        <div *dxTemplate="let data of 'brandTemplate'">
          {{ getBrandNameFromId(data.data.brand) }}
        </div>
      </dxi-column>

      <dxi-column
        dataField="customerNumber"
        caption="Customer Number"
        [cssClass]="'myClass'"
        [allowEditing]="false"
        [fixed]="true"
        [width]="'67.5px'"
        [fixedPosition]="'left'"
        [allowFiltering]="false"
      ></dxi-column>

      <dxi-column
        dataField="customerName"
        caption="POS Name"
        [allowEditing]="false"
        [allowFiltering]="false"
        [cssClass]="'myClass'"
        [width]="165"
        cellTemplate="customerNameTemplate"
      >
        <div *dxTemplate="let item of 'customerNameTemplate'">
          <div
            id="pos-name-{{ item.data.customerId }}"
            style="text-overflow: ellipsis; overflow: hidden"
          >
            {{ item.data.customerName }}
          </div>
          <dx-tooltip
            [target]="'#pos-name-' + item.data.customerId"
            showEvent="mouseenter"
            hideEvent="mouseleave"
            [hideOnOutsideClick]="false"
            *ngIf="item.data.customerName.length >= 23"
          >
            {{ item.data.customerName }}
          </dx-tooltip>
        </div>
      </dxi-column>

      <dxi-column
        dataField="posType"
        caption="POS Type"
        [allowEditing]="false"
        [cssClass]="'myClass'"
        [allowFiltering]="true"
      ></dxi-column>

      <dxi-column
        dataField="city"
        caption="City"
        [allowEditing]="false"
        [width]="'95px'"
        [cssClass]="'myClass'"
        [allowFiltering]="false"
      ></dxi-column>

      <dxi-column
        dataField="orderStatus"
        caption="Order Status"
        [allowFiltering]="true"
        [width]="'150px'"
        [cssClass]="'myClass'"
        cellTemplate="orderStatusTemplate"
      >
        <div *dxTemplate="let data of 'orderStatusTemplate'">
          <app-order-status
            [data]="data.data"
            [fullData]="dataSource"
            (statusChanged)="handleStatusChanged($event)"
          ></app-order-status>
        </div>
      </dxi-column>

      <dxi-column
        dataField="rejectReason"
        caption="Reject Reason"
        [allowEditing]="false"
        [allowFiltering]="false"
        [cssClass]="'myClass'"
        cellTemplate="rejectReasonTemplate"
      >
        <div
          *dxTemplate="let data of 'rejectReasonTemplate'"
          class="reject-reason"
        >
          <input
            type="text"
            class="reject-reason__input"
            [value]="data.data.rejectReason"
            (blur)="onRejectReasonChange($event, data.data)"
          />
          <div class="reject-reason__icon-container">
            <i
              class="fas fa-pencil-alt reject-reason__icon-container__edit-icon"
            ></i>
          </div>
        </div>
      </dxi-column>

      <dxi-column
        dataField="orderValuePreviousYear"
        caption="Order Value PY"
        [allowEditing]="false"
        [cssClass]="'myClass'"
        [allowFiltering]="false"
        cellTemplate="orderValuePreviousYearTemplate"
      >
        <div *dxTemplate="let data of 'orderValuePreviousYearTemplate'">
          {{
            data.data.orderValuePreviousYear
              ? (data.data.orderValuePreviousYear | number : "1.2-2") +
                " " +
                getCurrencySymbol(data.data.currency)
              : "-"
          }}
        </div>
      </dxi-column>

      <dxi-column
        dataField="orderValueBudgetRelevant"
        caption="Budget Relevant"
        [allowEditing]="false"
        [cssClass]="'myClass'"
        [allowFiltering]="false"
        cellTemplate="orderValueBudgetRelevantTemplate"
      >
        <div *dxTemplate="let data of 'orderValueBudgetRelevantTemplate'">
          {{
            data.data.orderValueBudgetRelevant
              ? (data.data.orderValueBudgetRelevant | number : "1.2-2") +
                " " +
                getCurrencySymbol(data.data.currency)
              : "-"
          }}
        </div>
      </dxi-column>

      <dxi-column
        dataField="actualVsPreviousYearPercentage"
        caption="AC/PY %"
        [allowEditing]="false"
        [cssClass]="'myClass'"
        [allowFiltering]="false"
        cellTemplate="actualVsPreviousYearPercentageTemplate"
      >
        <div *dxTemplate="let data of 'actualVsPreviousYearPercentageTemplate'">
          {{
            data.data.actualVsPreviousYearPercentage === null
              ? "-"
              : data.data.actualVsPreviousYearPercentage.toFixed(2) + "%"
          }}
        </div>
      </dxi-column>

      <dxi-column
        dataField="actualVsPreviousYearAbsoluteDifference"
        caption="AC/PY"
        [allowEditing]="false"
        [cssClass]="'myClass'"
        [allowFiltering]="false"
        cellTemplate="actualVsPreviousYearAbsoluteDifferenceTemplate"
      >
        <div
          *dxTemplate="
            let data of 'actualVsPreviousYearAbsoluteDifferenceTemplate'
          "
        >
          <span
            [ngStyle]="{
              color:
                data.data.actualVsPreviousYearAbsoluteDifference > 0
                  ? '#03bc00'
                  : data.data.actualVsPreviousYearAbsoluteDifference < 0
                  ? '#c00000'
                  : 'inherit'
            }"
          >
            {{
              data.data.actualVsPreviousYearAbsoluteDifference === null
                ? "-"
                : data.data.actualVsPreviousYearAbsoluteDifference.toFixed(2)
            }}
          </span>
        </div>
      </dxi-column>

      <dxi-column
        dataField="orderPieces"
        [cssClass]="'myClass'"
        caption="Order Pieces"
        [visible]="true"
      ></dxi-column>

      <dxi-column
        dataField="salesPrice"
        [cssClass]="'myClass'"
        caption="Sales Price"
        [visible]="true"
      ></dxi-column>

      <dxi-column
        dataField="actualOrderValue"
        [cssClass]="'myClass'"
        caption="Actual Order Value"
        [visible]="true"
      ></dxi-column>

      <dxi-column
        dataField="actions"
        caption=""
        [allowEditing]="false"
        [cssClass]="'myClass'"
        [fixed]="true"
        [fixedPosition]="'right'"
        [allowFiltering]="false"
        cellTemplate="cellTemplate"
      >
        <div
          *dxTemplate="let data of 'cellTemplate'"
          class="template-container"
        >
          <div *ngIf="data.data.actions.length !== 0">
            <dx-drop-down-button
              [items]="data.data.actions"
              icon="more"
              displayExpr="label"
              stylingMode="text"
              [showArrowIcon]="false"
              [dropDownOptions]="{ width: 172 }"
              (onItemClick)="onDropDownItemClicked($event, data.data)"
            >
            </dx-drop-down-button>
          </div>
        </div>
      </dxi-column>

      <dxo-summary>
        <dxi-total-item
          column="orderPieces"
          summaryType="sum"
          displayFormat="Total: {0}"
        ></dxi-total-item>

        <dxi-total-item
          column="salesPrice"
          summaryType="sum"
          valueFormat="currency"
          displayFormat="Total: {0}"
        ></dxi-total-item>

        <dxi-total-item
          column="actualOrderValue"
          summaryType="sum"
          valueFormat="currency"
          displayFormat="Total: {0}"
        ></dxi-total-item>

        <dxi-total-item
          column="actualVsPreviousYearAbsoluteDifference"
          summaryType="sum"
          displayFormat="Total: {0}"
          [customizeText]="customizeTotalText"
        ></dxi-total-item>
      </dxo-summary>
    </dx-data-grid>
  </div>
</div>
