<dx-data-grid
  [dataSource]="dataSource"
  [allowColumnResizing]="true"
  [columnAutoWidth]="true"
  keyExpr="customerId"
>
  <dxo-header-filter [visible]="true"></dxo-header-filter>

  <dxi-column
    dataField="brand"
    caption="Brand"
    cellTemplate="brandTemplate"
    [allowEditing]="false"
    [allowFiltering]="true"
    headerFilter="{
      dataSource: brandDataSource
    }"
  >
    <dxo-header-filter [dataSource]="brandHeaderFilter"></dxo-header-filter>
    <div *dxTemplate="let data of 'brandTemplate'">
      {{ getBrandNameFromId(data.data.brand) }}
    </div>
  </dxi-column>

  <dxi-column
    dataField="customerNumber"
    caption="Customer Number"
    [allowEditing]="false"
    [allowFiltering]="false"
  ></dxi-column>

  <dxi-column
    dataField="customerName"
    caption="POS Name"
    [allowEditing]="false"
    [allowFiltering]="false"
    [width]="165"
    cellTemplate="customerNameTemplate"
  >
    <div *dxTemplate="let item of 'customerNameTemplate'">
      <div
        id="pos-name-{{ item.data.customerId }}"
        style="text-overflow: ellipsis; overflow: hidden"
      >
        {{ item.data.customerName }}
      </div>
      <dx-tooltip
        [target]="'#pos-name-' + item.data.customerId"
        showEvent="mouseenter"
        hideEvent="mouseleave"
        [hideOnOutsideClick]="false"
        *ngIf="item.data.customerName.length >= 23"
      >
        {{ item.data.customerName }}
      </dx-tooltip>
    </div>
  </dxi-column>

  <dxi-column
    dataField="posType"
    caption="POS Type"
    [allowEditing]="false"
    [allowFiltering]="true"
  ></dxi-column>

  <dxi-column
    dataField="city"
    caption="City"
    [allowEditing]="false"
    [allowFiltering]="false"
  ></dxi-column>

  <dxi-column
    dataField="orderStatus"
    caption="Order Status"
    [allowFiltering]="true"
    cellTemplate="orderStatusTemplate"
  >
    <div *dxTemplate="let data of 'orderStatusTemplate'">
      <app-order-status
        [orderStatus]="data.data.orderStatus"
      ></app-order-status>
    </div>
  </dxi-column>

  <dxi-column
    dataField="rejectReason"
    caption="Reject Reason"
    [allowEditing]="false"
    [allowFiltering]="false"
    cellTemplate="rejectReasonTemplate"
  >
    <div *dxTemplate="let data of 'rejectReasonTemplate'" class="reject-reason">
      <input type="text" class="reject-reason__input" />
      <div class="reject-reason__icon-container">
        <fa-icon
          [icon]="faPencilAlt"
          class="reject-reason__icon-container__edit-icon"
        ></fa-icon>
      </div>
    </div>
  </dxi-column>

  <dxi-column
    dataField="orderValuePreviousYear"
    caption="Order Value PY"
    [allowEditing]="false"
    [allowFiltering]="false"
    cellTemplate="orderValuePreviousYearTemplate"
  >
    <div *dxTemplate="let data of 'orderValuePreviousYearTemplate'">
      {{
        data.data.orderValuePreviousYear
          ? (data.data.orderValuePreviousYear | number : "1.2-2") +
            " " +
            getCurrencySymbol(data.data.currency)
          : "-"
      }}
    </div>
  </dxi-column>

  <dxi-column
    dataField="orderValueBudgetRelevant"
    caption="Budget Relevant"
    [allowEditing]="false"
    [allowFiltering]="false"
    cellTemplate="orderValueBudgetRelevantTemplate"
  >
    <div *dxTemplate="let data of 'orderValueBudgetRelevantTemplate'">
      {{
        data.data.orderValueBudgetRelevant
          ? (data.data.orderValueBudgetRelevant | number : "1.2-2") +
            " " +
            getCurrencySymbol(data.data.currency)
          : "-"
      }}
    </div>
  </dxi-column>

  <dxi-column
    dataField="actualVsPreviousYearPercentage"
    caption="AC/PY %"
    [allowEditing]="false"
    [allowFiltering]="false"
    cellTemplate="actualVsPreviousYearPercentageTemplate"
  >
    <div *dxTemplate="let data of 'actualVsPreviousYearPercentageTemplate'">
      {{
        data.data.actualVsPreviousYearPercentage === null
          ? "-"
          : data.data.actualVsPreviousYearPercentage.toFixed(2) + "%"
      }}
    </div>
  </dxi-column>

  <dxi-column
    dataField="actualVsPreviousYearAbsoluteDifference"
    caption="AC/PY"
    [allowEditing]="false"
    [allowFiltering]="false"
    cellTemplate="actualVsPreviousYearAbsoluteDifferenceTemplate"
  >
    <div
      *dxTemplate="let data of 'actualVsPreviousYearAbsoluteDifferenceTemplate'"
    >
      <span
        [ngStyle]="{
          color:
            data.data.actualVsPreviousYearAbsoluteDifference > 0
              ? '#03bc00'
              : data.data.actualVsPreviousYearAbsoluteDifference < 0
              ? '#c00000'
              : 'inherit'
        }"
      >
        {{
          data.data.actualVsPreviousYearAbsoluteDifference === null
            ? "-"
            : data.data.actualVsPreviousYearAbsoluteDifference.toFixed(2)
        }}
      </span>
    </div>
  </dxi-column>

  <dxi-column
    dataField="actions"
    caption=""
    [allowEditing]="false"
    [allowFiltering]="false"
    cellTemplate="cellTemplate"
  >
    <div *dxTemplate="let data of 'cellTemplate'" class="template-container">
      <div *ngIf="data.data.actions.length !== 0">
        <dx-drop-down-button
          [items]="data.data.actions"
          icon="more"
          displayExpr="label"
          stylingMode="text"
          [showArrowIcon]="false"
          [dropDownOptions]="{ width: 171 }"
          (onItemClick)="onItemClick($event)"
        >
        </dx-drop-down-button>
      </div>
    </div>
  </dxi-column>

  <!-- <dxi-column
    dataField="actions"
    caption=""
    [allowEditing]="false"
    [allowFiltering]="false"
    cellTemplate="cellTemplate"
  >
    <div *dxTemplate="let data of 'cellTemplate'" class="template-container">
      <div *ngIf="data.data.actions.length !== 0">
        <dx-select-box [dataSource]="data.data.actions"> </dx-select-box>
      </div>
    </div>
  </dxi-column> -->
</dx-data-grid>
