.main-body {
  padding: 16px 30px;
}

.card-container {
  background-color: #f8f8f8;
  padding: 31px 20px;
  max-height: 665px;
  overflow: scroll;
}

.dropdowns-container {
  display: flex;
  gap: 16px;
  margin: 40px 0 20px 0;
  text-overflow: visible;
  text-wrap: nowrap;
}
