.dialog {
  &-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &-content {
    position: relative;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 999;

    &__buttons-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;

      &__button {
        padding: 11px 16px;
        color: #fff;
        width: 100%;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;

        &--confirm {
          background-color: #28a745;
          &:hover {
            background-color: #218838;
          }
        }

        &--cancel {
          background-color: #dc3545;
          &:hover {
            background-color: #7d1b25;
          }
        }
      }
    }
  }
}
