<div class="dialog-background">
  <div class="dialog-content">
    <h3 class="dialog-content__title">{{ message }}</h3>

    <div class="dialog-content__buttons-container">
      <button
        class="dialog-content__buttons-container__button dialog-content__buttons-container__button--confirm"
      >
        Confirm
      </button>
      <button
        class="dialog-content__buttons-container__button dialog-content__buttons-container__button--cancel"
      >
        Cancel
      </button>
    </div>
  </div>
</div>
