.modal {
  &-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-content {
    position: relative;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;

    &__buttons-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;

      &--btn {
        font-family: "Montserrat", sans-serif;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 600;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

        &-save {
          background-color: #28a745;
          color: white;
          &:hover {
            background-color: #218838;
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
            transform: translateY(-2px);
          }

          &:active {
            background-color: #1e7e34;
            transform: translateY(0);
            box-shadow: none;
          }
        }

        &-cancel {
          background-color: #dc3545;
          color: white;
          &:hover {
            background-color: #c82333; /* Darker red on hover */
            box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
            transform: translateY(-2px);
          }

          &:active {
            background-color: #bd2130;
            transform: translateY(0);
            box-shadow: none;
          }
        }

        &:focus {
          outline: none;
          box-shadow: 0px 0px 0px 3px rgba(0, 123, 255, 0.25);
        }
      }
    }

    &__input-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      width: 100%;
      max-width: 400px;

      &__input-label {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        color: #333;
        position: absolute;
        top: 23px;
        left: 44px;
        font-size: 11px;
        padding: 0 3px;
        background-color: #fff;
      }

      &__input {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        padding: 10px 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
        color: #333;
        width: 100%;

        &:focus {
          border-color: #28a745;
          box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
        }

        &::placeholder {
          color: #aaa;
          font-style: italic;
        }

        &:hover {
          border-color: #999;
        }

        &.error {
          border-color: #dc3545;
          box-shadow: 0 0 5px rgba(220, 53, 69, 0.5);
        }
      }
    }
  }
}
