<span
  class="order-status-filter-item order-status-{{
    data.orderStatus.toLowerCase()
  }}"
  style="display: flex; align-items: center; justify-content: center; gap: 5px"
  (click)="handleReopenClicked(data.orderStatus, data)"
>
  {{ getOrderStatusLabel(data.orderStatus) }}
  <i *ngIf="data.orderStatus === 'REOPENED'" class="fa-regular fa-message"></i>
  <div *ngIf="data.orderStatus === 'SUBMITTED'">
    <i
      #approveIcon
      class="fa-solid fa-thumbs-up icon-approve"
      (click)="handleIconClicked(data, approveIcon)"
      style="margin-right: 5px"
    ></i>
    <i
      #rejectIcon
      class="fa-solid fa-ban icon-reject"
      (click)="handleIconClicked(data, rejectIcon)"
    ></i>
  </div>
</span>
<app-modal
  *ngIf="modalService.showModal()"
  [rowData]="modalService.getRowData()"
></app-modal>
