<dx-drawer
  template="template"
  [opened]="drawerService.isDrawerOpen()"
  [revealMode]="'slide'"
  [closeOnOutsideClick]="false"
  [openedStateMode]="'shrink'"
  [position]="'right'"
>
  <div
    *dxTemplate="let data of 'template'"
    style="width: 33vw; margin-left: 5px; overflow-x: hidden"
  >
    <app-chart [data]="dataSource"></app-chart>
    <app-pie-chart [data]="dataSource"></app-pie-chart>
  </div>
  <app-table
    (dataSourceChanged)="handleDataSourceChanged($event)"
    [dataSource]="dataSource"
  ></app-table>
</dx-drawer>
